<a href="https://colab.research.google.com/github/Sibin-S-S/DSA7/blob/main/Day03_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## for loop

In [ ]:
for i in range(15):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for num in range(100,140,2):
  print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138

In [ ]:
# In the case of string

word = "word"

for i in word:
  print(i)

w
o
r
d

In [ ]:
my_list=['sibin',23,'trivandrum']
for i in my_list :
    print(i)

sibin
23
trivandrum

In [ ]:
for i in range(len(my_list)):
  print(my_list[i])

sibin
23
trivandrum

In [ ]:
for i in range(len(my_list)):
  if my_list[i]=='sibin':
    print('sibin is found')
    print(my_list[i])
  else:
      print(my_list[i])

sibin is found
sibin
23
trivandrum

In [ ]:
#Dictionary looping
my_dict = {
    'Name':'sibin',
    'age':23,
    'course':'DSA',
    'place':'Varkala',
    'Game':'Cricket',
    'Food':'Biriyani'
}
my_dict.keys()
my_dict.values()
my_dict.items()

dict_items([('Name', 'sibin'), ('age', 23), ('course', 'DSA'), ('place', 'Varkala'), ('Game', 'Cricket'), ('Food', 'Biriyani')])

In [ ]:
for k,v in my_dict.items():
  print(f'My {k} is {v}')

My Name is sibin
My age is 23
My course is DSA
My place is Varkala
My Game is Cricket
My Food is Biriyani

In [ ]:
my_groc = {
    'Rice':55,
    'Tea' :45,
    'Sugar':37,
    'Wheat':27,
    'coffee':250,
    'Banana':50,
    'Carrot':40
}
budget = 250
tot_price = 0
my_list=[]
for a,b in my_groc.items():
  if tot_price+b < budget and tot_price < budget :
    my_list.append(a)
    tot_price = tot_price+b
print(my_list)
print(tot_price)

['Rice', 'Tea', 'Sugar', 'Wheat', 'Banana']
214

In [ ]:
# in range 1 to 100 find numbers divisible by both 3 and 5
for i in range (1,101):
 if i%5==0 and i%3 ==0:
  print(i)

15
30
45
60
75
90

# while loop

In [ ]:
a = 1
while a <10:
  print(a)
  a= a+2
else:
    print('Limit Crossed')

1
3
5
7
9
Limit Crossed

In [ ]:
balance = 500
while balance >300:
  print('Sufficient Balance****')
  balance = balance - 50
else :
    print('Insufficient Balance :(')

Sufficient Balance****
Sufficient Balance****
Sufficient Balance****
Sufficient Balance****
Insufficient Balance :(

In [ ]:
hid_numb = 18
num = int(input('Guess the number :'))
while num != hid_numb:
   print('Try again :')
   num = int(input('Guess again'))

else :
    print('Congratssss')

Guess the number :12
Try again :
Guess again18
Congratssss

In [ ]:
import random
hid_numb = random.randint(1,15)
num = int(input('Guess the number :'))
while num != hid_numb:
   print('Try Again : :')
   num = int(input('Guess again :'))

else :
    print('adi pookuti Ningal jaichu')

Guess the number :6
Try Again : :
Guess again :10
adi pookuti Ningal jaichu

In [ ]:
password = 1345
num = int(input('Enter the Password :'))
i=0
while i<2:
  if  num != password :
      i= i+1
      num=int(input('Password incorrect,Try again'))

  else :
    print('Correct password')
    break
else :
    print('You ran out of attempts')

Enter the Password :5456
Password incorrect,Try again2345
Password incorrect,Try again8657
You ran out of attempts

In [ ]:
## create dict with movies and rating print all movies and its ratings.update a movie rating from 8 to 5 or 5 to 9.add 2 new movies and their rating to dictionary.find highest
#rated and removeif rating less than 5

movies = {'Interstellar': 10,
          'Indian 2': 2,
          'Dark knight':9,
          'Pushpa ':3,
          'Nayagan': 8}
movies['Pushpa'] =9
print(movies)

movies['Hangover']=8
movies['Bigil'] = 4
print(movies)

highest_rating = 0
highest_movie =''
for k,v in movies.items():
  if v > highest_rating:
    highest_rating = v
    highest_movie = k
print(f'{highest_movie} is the highest rated movie with {highest_rating}')


filtered_list={}
for k,v in movies.items():
  if v>5:
    filtered_list[k]=v
    print(filtered_list)

{'Interstellar': 10, 'Indian 2': 2, 'Dark knight': 9, 'Pushpa ': 3, 'Nayagan': 8, 'Pushpa': 9}
{'Interstellar': 10, 'Indian 2': 2, 'Dark knight': 9, 'Pushpa ': 3, 'Nayagan': 8, 'Pushpa': 9, 'Hangover': 8, 'Bigil': 4}
Interstellar is the highest rated movie with 10
{'Interstellar': 10}
{'Interstellar': 10, 'Dark knight': 9}
{'Interstellar': 10, 'Dark knight': 9, 'Nayagan': 8}
{'Interstellar': 10, 'Dark knight': 9, 'Nayagan': 8, 'Pushpa': 9}
{'Interstellar': 10, 'Dark knight': 9, 'Nayagan': 8, 'Pushpa': 9, 'Hangover': 8}

## Functions

In [ ]:
# def function_name():
#   function_body

In [ ]:
def greet():
  print('Welcome to Kerala')

greet()
greet()

Welcome to Kerala
Welcome to Kerala

In [ ]:
def greet(name):
  print(f'Hello {name}, Welcome')

greet('sibin')
greet('Hari')

Hello sibin, Welcome
Hello Hari, Welcome

In [ ]:
def greet(name,time):
  print(f'Hello {name}, Welcome to the Program')
  print(f'Your session will start at {time}')

greet('sibin', '3 pm')
greet('Hari','1 am')

Hello sibin, Welcome to the Program
Your session will start at 3 pm
Hello Hari, Welcome to the Program
Your session will start at 1 am

In [ ]:
def greet(name,time ='11 am'):
  print(f'Hello {name}, Welcome to the Program')
  print(f'Your session will start at {time}')

greet('sibin', '3 pm')
greet('Hari','1 am')
greet('Shafi', )

Hello sibin, Welcome to the Program
Your session will start at 3 pm
Hello Hari, Welcome to the Program
Your session will start at 1 am
Hello Shafi, Welcome to the Program
Your session will start at 11 am

In [ ]:
def pro(a,b):

  prod = a * b
  print(f'The product is {prod}')

num1=int(input('Enter a number'))
num2=int(input('Enter the second number'))

pro(num1,num2)

Enter a number5
Enter the second number7
The product is 35

In [ ]:
def bill(amount):
 tot_amount= (0.1 *amount ) + amount
 print(f'The Total amount to be paid is {tot_amount}')
a =int(input('Enter the bill amount :'))
bill(a)

Enter the bill amount :500
The Total amount to be paid is 550.0

In [ ]:
def bill(amount):
  if amount > 500 and amount < 1000:
      tot_amount= (0.15 *amount ) + amount
  elif amount >1000:
      tot_amount= (0.25 *amount ) + amount
  else :
      tot_amount= (0.1 *amount ) + amount
  print(f'The Total amount to be paid is {tot_amount}')

a =int(input('Enter the bill amount :'))
bill(a)

Enter the bill amount :10
The Total amount to be paid is 11.0

In [ ]:
num_list= [13,24,54,89,98,76,77,53,58]
def avg_even(numberlist):
  even_list=[]
  odd_list=[]
  for num in numberlist:
    if num % 2 ==0:
      even_list.append(num)


    else:
      odd_list.append(num)
  avgEven = sum(even_list)/len(even_list)
  avgOdd = sum(odd_list)/len(odd_list)
  print(odd_list)
  print(avgOdd)
  print(even_list)
  print(avgEven)


avg_even(num_list)

[13, 89, 77, 53]
58.0
[24, 54, 98, 76, 58]
62.0

In [ ]:
def sum_numbers(*args):
  print(type(args))
  total = 0
  for i in args:
    total+= i
  print(total)

sum_numbers(13,45,32,67,54)

<class 'tuple'>
211

In [ ]:
def print_info(**args):
  for item,val in args.items():
    print(f'{item} is {val}')


print_info(name='Sibin',place='Varkala',batch='DSA')
print_info(name='Sasi',place='goa',score='8')

name is Sibin
place is Varkala
batch is DSA
name is Sasi
place is goa
score is 8

In [ ]:
square = lambda x : x*x
square(6)

36

In [ ]:
add = lambda x,y:x+y
add(10,12)

22

In [ ]:
def tot_mark(marks):
  return (sum(marks))

Finalscore = tot_mark([10,20,30,40,50])
if Finalscore >=90:
  print('Grade A')
elif Finalscore >=80:
    print('Grade B')
elif Finalscore >=70:
    print('Grade C')
elif Finalscore >=60:
    print('Grade D')

Grade A

#OOPS- OBJECT ORIENTED PROGRAMMING


1.   CLASS

1.   OBJECT/INSTANCE
2.   INHERITANCE

2.   POLYMORPHISM


5.   ENCAPSULATION
2.   ABSTRACTION

# 1.Class

In [ ]:
class animal:
  animal_type = 'Dog'
  num_legs = 4
  mammal = "Yes"

  def Sound(self):
    print('Animal barks')

obj1 =animal()
obj1.Sound()

Animal barks

In [ ]:
class person:
  place = 'tvm'

  def __init__(self,name,age):
    self.name=name
    self.age = age

  def greet(self):
    return f'hi myself {self.name} and my age is {self.age} and i am from {self.place}'

obj1=person('Laya',25)
obj1.greet()

'hi myself Laya and my age is 25 and i am from tvm'

In [ ]:
class Employee:
  def __init__(self,name,age,salary):
    self.name = name
    self.age = age
    self.salary = salary

  def display_info(self):
    print(f'Employee name is {self.name}')
    print(f'Employee age is {self.age}')
    print(f'Employee salary is {self.salary}')

class Manager(Employee):
  def __init__(self,name,age,salary,gender,department,teamsize):
    super().__init__(name,age,salary)
    self.gender = gender # Added gender attribute
    self.department = department
    self.teamsize = teamsize

  def display_manager_info(self):
    self.display_info()
    print(f'Employee gender is {self.gender}') # Added gender print
    print(f'Employee department is {self.department}')
    print(f'Employee teamsize is {self.teamsize}')

class Teamlead(Manager):
 def __init__(self,name,age,salary,gender,department,teamsize,experience):
    super().__init__(name,age,salary,gender,department,teamsize)
    self.experience = experience

 def display_teamlead_info(self):
     self.display_manager_info()
     print(f'Employee experience is {self.experience}')

emp1 = Employee('sibin',23,100000) # Removed gender from Employee instantiation
emp1.display_info()

manager1=Manager('Jane smith',24,80000,'Female','HR',10) # Changed class name to Manager
manager1.display_manager_info()

Teamlead1=Teamlead('Hari',23,100000,'Male','HR',10,5)
Teamlead1.display_teamlead_info()

Employee name is sibin
Employee age is 23
Employee salary is 100000
Employee name is Jane smith
Employee age is 24
Employee salary is 80000
Employee gender is Female
Employee department is HR
Employee teamsize is 10
Employee name is Hari
Employee age is 23
Employee salary is 100000
Employee gender is Male
Employee department is HR
Employee teamsize is 10
Employee experience is 5